<include file="common/head"/>
<script>
    var ADMIN = '/static/admin';
    var navs ={$menus|raw};
</script>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <div class="layui-main">
            <div class="admin-login-box">
                <a class="logo" style="left: 0;" href="{:url('/index/index')}">
                    <span style="font-size: 22px;">301管理系统</span>
                </a>
                <div class="admin-side-toggle fs1">
                    <span class="icon icon-menu"></span>
                </div>
                <div class="admin-side-full">
                    <span class="icon icon-enlarge"></span>
                </div>
            </div>

            <ul class="layui-nav admin-header-item" lay-filter="side-top-right">
          
                <li class="layui-nav-item">
                    <a href="#" target="_blank">网址首页</a>
                </li>
                <!-- <li class="layui-nav-item">
                    <a class="name" href="javascript:;">主题</a>
                    <dl class="layui-nav-child">
                        <dd data-skin="0"><a href="javascript:;">默认</a></dd>
                        <dd data-skin="1"><a href="javascript:;">纯白</a></dd>
                        <dd data-skin="2"><a href="javascript:;">蓝白</a></dd>
                    </dl>
                </li> -->
                <li class="layui-nav-item  admin_user">
                    <a href="javascript:;" class="admin-header-user" id="admin_user">
                        <span>{$now_user.account}</span>
                    </a>
                    
                    <dl class="layui-nav-child">
                            <dd><a href="javascript:;" onclick="openShow('{:url('/Index/userInfo')}','个人信息',500,300);">个人信息</a></dd>
                        <dd><a href="javascript:;" onclick="openShow('{:url('/identity/savePwd')}','密码修改',800,500);">修改密码</a></dd>
                        <dd>
                            <a href="javascript:void(0);" id="logout" ><i class="fa fa-sign-out" aria-hidden="true"></i>注销</a>
                        </dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav admin-header-item-mobile">
                <li class="layui-nav-item">
                    <a href="{:url('/Index/index')}">网站首页</a>
                </li>
                <!-- <li class="layui-nav-item">
                    <a href="{:url('/Login/logout')}"><i class="fa fa-sign-out" aria-hidden="true"></i>注销</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
    </div>
    <div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <i class="icon icon-earth" aria-hidden="true"></i>
                    <cite>控制面板</cite>
                </li>
            </ul>
            <div class="layui-tab-content" style="min-height: 150px; padding: 0;">
                <div class="layui-tab-item layui-show">
                    <iframe src="{:url('/Index/main')}"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer footer footer-demo" id="admin-footer">
        <div class="layui-main">
        </div>
    </div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <script src="/static/admin/js/index.js"></script>
    <script>
        layui.use('layer',function(){
            var $ = layui.jquery, layer = layui.layer;
            
            //退出
            $("#logout").click(function(){

                layer.confirm('确认要注销?', {icon: 3}, function () {
                    $.post('{:url("/identity/logout")}',function (data) {
                        layer.msg(data.msg, {icon: 6}, function (index) {
                            layer.close(index);
                            window.location.href = data.data.url;
                        });
                    });
                });
            });

            //清除缓存
            $('#cache').click(function () {
                document.cookie="skin=;expires="+new Date().toGMTString();
                layer.confirm('确认要清除缓存?', {icon: 3}, function () {
                    $.post('{:url("/Index/clear")}',function (data) {
                        layer.msg(data.msg, {icon: 6}, function (index) {
                            layer.close(index);
                            window.location.href = data.data.url;
                        });
                    });
                });
            });

        setTimeout(function(){
            if(!$("#checkbox_fixedsidebar").is(":checked")){
                $("#checkbox_fixedheader").click();
            }
        },100);
				/*
        //超时
        var check_timeout = setInterval(function(){
          $.post('/identity/check_timeout','',function(data){
            if(data.code!=0){
              clearInterval(check_timeout);
              error_yes(data.msg,function(){
                location.href='/identity/login.html';
              })
            }
          },'json','no');
        },8000);
        });
				*/
    </script>
</div>
</body>
</html>