<include file="common/head"/>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>权限列表</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <a  id="ruleAdd" class="layui-btn layui-btn-sm">添加节点</a>
        <a id="clearNode" class="layui-btn layui-btn-sm layui-btn-danger">清除节点</a>
        <a class="layui-btn layui-btn-normal layui-btn-sm"  onclick="openAll();">展开或折叠全部</a>
    </blockquote>
    <table class="layui-table" id="treeTable" lay-filter="treeTable"></table>
</div>
<script type="text/html" id="auth">
    <input type="checkbox" name="authopen" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="authopen" {{ d.authopen == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="status" {{ d.status.val == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>
<script type="text/html" id="icon">
    <span class="icon {{d.icon}}"></span>
</script>
<script type="text/html" id="action">
    {{# if (d.lvl < 3) { }}  
      <a class="blue" title="添加子节点" href="javascript:;" lay-event='add'> <i class="icon icon-plus"></i></a>  |
    {{# } else { }}  
    {{# } }}  
      <a class="green" href="javascript:;"  onclick="ruleEdit({{ d.id }},'{{ d.title }}');" title="修改"><i class="icon icon-pencil2"></i></a>
    | <a class="red"  href="javascript:;" title="删除"  lay-event="del"><i class="icon icon-bin"></i></a>
</script>

<script>
var editObj=null,ptable=null,treeGrid=null,tableId='treeTable',layer=null;
    layui.config({
        base: '/static/plugins/layui/extend/'
    }).extend({
        treeGrid:'treeGrid'
    }).use(['jquery','treeGrid','layer','form'], function(){
        var $=layui.jquery;
        treeGrid = layui.treeGrid;
        layer=layui.layer;
		form = layui.form;
        ptable=treeGrid.render({
            id:tableId
            ,elem: '#'+tableId
            ,idField:'id'
            ,url:'{:url("/Auth/ruleList")}'
            ,cellMinWidth: 100
            ,treeId:'id'//树形id字段名称
            ,treeUpId:'pid'//树形父id字段名称
            ,treeShowName:'title'//以树形式显示的字段
            ,height:'full-140'
            ,isFilter:false
            ,iconOpen:true//是否显示图标【默认显示】
            ,isOpenDefault:false//节点默认是展开还是折叠【默认展开】
            ,cols: [[
                {field: 'id', title: 'ID', width: 70, fixed: true},
                {field: 'icon', align: 'center',title: '图标', width: 60,templet: '#icon'},
                {field: 'title', title: '权限名称',width:230},
                {field: 'href', title: '控制器/方法',width:230},
                {field: 'authopen',align: 'center', width:150,title: '是否验证权限', toolbar: '#auth'},
                {field: 'status',align: 'center',width:150,title: '菜单状态', toolbar: '#status'},
                {field: 'sort',align: 'center', title: '排序', width: 80, templet: '#order'},
                {width: 160,align: 'center', toolbar: '#action'}
            ]]
            ,page:false
        });
        treeGrid.on('tool('+tableId+')',function (obj) {
			var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该记录吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('/Auth/ruleDel')}",{rule_id:data.id},function(res){
                        layer.close(loading);
                        if(res.code==0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'add'){
        
               openShow('{:url("/Auth/ruleAdd")}?pid='+data.id, '节点添加',750,600);

            }
        });
		form.on('switch(authopen)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var authopen = obj.elem.checked===true?1:0;
            $.post('{:url("/Auth/setRuleOpen")}',{'rule_id':id,'authopen':authopen},function (res) {
                layer.close(loading);
                if (res.code==0) {
                    layer.msg(res.msg,{time:1000,icon:1});
                    treeGrid.render;
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    treeGrid.render;
                    return false;
                }
            })
        });
		form.on('switch(status)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var status = obj.elem.checked===true?1:0;
            $.post('{:url("/Auth/setRuleStatus")}',{'rule_id':id,'status':status},function (res) {
                layer.close(loading);
                if (res.code == 0) {
                    layer.msg(res.msg,{time:1000,icon:1});
                    treeGrid.render;
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    treeGrid.render;
                    return false;
                }
            })
        });
		$('body').on('blur','.list_order',function() {
           var id = $(this).attr('data-id');
           var sort = $(this).val();
           $.post('{:url("/Auth/ruleSort")}',{rule_id:id,sort:sort},function(res){

                if(res.code==0){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        treeGrid.render;
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    treeGrid.render;
                }
           })
        })

        //添加节点
        $("#ruleAdd").click(function(){
            openShow('{:url("/Auth/ruleAdd")}','节点添加',750,600);
        });

        //清除缓存
        $('#clearNode').click(function(){
            $.post('{:url("/Auth/clearNode")}',[],function(res){
                layer.msg(res.msg,{time:1000,icon:1},function(){
                    treeGrid.render;
                });
                
            })
        });
    });


function  ruleEdit(id,title){    
  openShow('{:url("/Auth/ruleEdit")}?id='+id,title+'节点修改',750,600);
}

function openAll() {
    var treedata=treeGrid.getDataTreeList(tableId);
    treeGrid.treeOpenAll(tableId,!treedata[0][treeGrid.config.cols.isOpen]);
}
</script>