<include file="common/head" />
<div class="admin-main fadeInUp animated" ng-app="myApp" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">所属用户组</label>
            <div class="layui-input-4">
               <select name="group_id" lay-verify="required" ng-select="field.group_id">
                    <option value="">请选择用户组</option>
                    <option ng-repeat="item in groupList" ng-selected='item.id ==field.group_id' value="{{item.id}}" >{{item.title}}</option>
                </select>
            </div>
        </div>
    
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-4">
                <input type="text" name="username"   ng-model="field.username" maxlength="25"  lay-verify="required" placeholder="请输入用户名" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                用户名在4到25个字符之间。
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-4">
                <input type="password" name="password" placeholder="请输入密码" maxlength="15" lay-verify="required" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                密码必须大于6位，小于15位。
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-4">
                <input type="text" name="nickname"  ng-model="field.nickname" maxlength="15"  lay-verify="required" placeholder="请输入昵称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" ng-model="field.status.val" lay-filter="status" ng-checked="1" ng-value="1"
                    title="正常">
                <input type="radio" name="status" ng-model="field.status.val" lay-filter="status" ng-value="0" title="禁用">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                <a href="javascript:;" class="layui-btn layui-btn-primary close">关闭</a>
            </div>
        </div>
    </form>
</div>
<script src="/Static/common/js/angular.min.js"></script>
<script>
    var m = angular.module('myApp', []);
    m.controller('ctrl', ['$scope', function ($scope) {
        $scope.field = '{$info|raw}' != 'null' ? {$info|raw} : { title: '' };
        $scope.groupList = {$groupList|raw};
        layui.use(['form', 'layer'], function () {
            var form = layui.form, layer = layui.layer, $ = layui.jquery;
            form.on('submit(submit)', function (data) {
                loading = layer.load(1, { shade: [0.1, '#fff'] });
                // 提交到方法 默认为本身
                data.field.id = $scope.field.id;
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code == 0) {
                        layer.msg(res.msg, { time: 1800, icon: 1 }, function () {
                           //$('.admin_user', parent.parent.document).reload(true);
                            //window.parent.parent.location.reload();
                            window.parent.location.reload();
                            admin_close();
                        });
                    } else {
                        layer.msg(res.msg, { time: 1800, icon: 2 });
                    }
                });
            })

            //关闭弹窗
            $('.close').click(function () {
                admin_close();
            });
        });
    }]);
</script>